<div class="container p-3 my-5 w-50">
    <h2>Form Tambah Contact</h2>
    <% if (typeof errors !== 'undefined') { %>
        <div class="alert alert-danger">
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
        </div>
    <% } %>

    <form method="post" action="/contact">
        <div class="mb-3 mt-3">
            <label for="nama" class="form-label">Nama</label>
            <input type="text" class="form-control" id="nama" placeholder="Masukkan nama contact" name="nama" required>
        </div>
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Masukkan email" name="email" required>
        </div>
        <div class="mb-3 mt-3">
            <label for="noHP" class="form-label">No HP</label>
            <input type="text" class="form-control" id="nohp" placeholder="Masukkan no HP" name="nohp" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>