<div class="container p-3 my-5 text-center"">
    <img src="img/img.jpg" alt="Agus Munawar" width="250" class="rounded-circle">
    <h1 class="display-4">Agus Munawar</h1>
    <p class="lead">Fulltime Gamer | Cat Expert</p>
</div>